# General
.DS_Store
Thumbs.db
*.log

# Editor & IDE
.idea/
.vscode/
*.swp
*.swo
*.swn

# Build Outputs
dist/
build/
out/
coverage/

# Backend (Google Apps Script / Clasp)
.clasprc.json
.clasp.json
creds.json

# Local config & temporary files
**.local*
.history/
